# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Temporary or system files
*.tmp
*.bak
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints (if applicable)
.ipynb_checkpoints/
